/* introdução */

.introducao-bg {
    background-color: var(--c12);
    color: var(--w);
    /* O box-shadow foi aplicado para da um efeito que a img da bike esta flutuando */
    box-shadow: inset 0 -120px var(--w);
}

.introducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
}

.introducao-conteudo {
    align-self: flex-end;
    padding-bottom: 200px;
}

.introducao h1 {
    margin-bottom: 32px;

}

.introducao p {
    margin-bottom: 20px;
}


@media (max-width: 800px) {

    .introducao-bg {
        background: var(--c11);
        padding-top: 40px;
        box-shadow: inset 0 -60px var(--w);
    }

    .introducao-conteudo {
        padding-bottom: 80px;
        
    }

    .introducao.interface{
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .introducao-conteudo {
        padding-bottom: 0px;
    }

    .introducao h1 {
        margin-bottom: 16px;
    }

    .introducao-img  img{
        height: 300px;
        width: 100%;
 
    }
}